html {
  background: linear-gradient(to top, rgba(221, 94, 137, 0.5), rgba(247, 187, 151, 0.5));
}
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

::selection {
  background: transparent;
}

#preview-img {
  width: 100px;
  height: auto;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}
